{% extends "coach_office/baseprofile.html" %}
{% load static %}
{% block content %}

    <main class="bg-gold">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <h1 class="text-center">Аккаунт Наставника</h1>
                <p>Перед использованием функционала наставника примите Правила и стандарты Наставника {{ trademark }}</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h2>Меню профиля</h2>
                {% if user.is_superuser %}
                <a href="../../superuser/" class="nav-link">Админ</a>
                {% endif %}
                <a href="../../account/profile.html/user_id{{ user.id }}" class="nav-link">Профиль</a>
                <a href="../../account/diary.html" class="nav-link">Дневник</a>
                <a href="../../account/bookmarks.html" class="nav-link">Закладки</a>
                <a href="../coach_office/user_id{{ user.id }}" class="nav-link active btn-success">Наставник</a>
                <a href="../../account/message.html" class="nav-link">Сообщения</a>
                <a href="../../account/friends.html" class="nav-link">Друзья</a>
                <a href="../../account/account.html" class="nav-link">Настройки</a>
              
                <div>
                    <a href="#" class="btn btn-primary">
                        <p>Просмотреть страницу как гость!</p>
                    </a>

                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group w-75">
                    <label for="inputState" class="ml-3">Ваши игры. До 3х штук и ваше направление в них</label>
                    <div>
                    <p class="ml-3">1 игра</p>
                    <select id="inputState" class="form-control ml-3">
                        <option selected>Выбирайте...</option>
                        <option>World of Warcraft</option>
                        <option>Overwatch</option>
                        <option>StarCraft 2</option>
                        <option>Dota 2</option>
                        <option>Valorant</option>
                        <option>Hearthstone</option>
                    </select>
                    <select id="inputState" class="form-control ml-3 ">
                        <option selected>Выбирайте...</option>
                        <option>PvP</option>
                        <option>PvE</option>
                        <option>Экономика</option>
                        <option>PvE и PvP</option>
                        <option>Любое</option>
                    </select>
                    </div>
                     <div>
                    <p class="ml-3">2 игра</p>
                    <select id="inputState" class="form-control ml-3">
                        <option selected>Выбирайте...</option>
                        <option>World of Warcraft</option>
                        <option>Overwatch</option>
                        <option>StarCraft 2</option>
                        <option>Dota 2</option>
                        <option>Valorant</option>
                        <option>Hearthstone</option>
                    </select>
                    <select id="inputState" class="form-control ml-3 ">
                        <option selected>Выбирайте...</option>
                        <option>PvP</option>
                        <option>PvE</option>
                        <option>Экономика</option>
                        <option>PvE и PvP</option>
                        <option>Любое</option>
                    </select>
                    </div>
                     <div>
                    <p class="ml-3">3 игра</p>
                    <select id="inputState" class="form-control ml-3">
                        <option selected>Выбирайте...</option>
                        <option>World of Warcraft</option>
                        <option>Overwatch</option>
                        <option>StarCraft 2</option>
                        <option>Dota 2</option>
                        <option>Valorant</option>
                        <option>Hearthstone</option>
                    </select>
                    <select id="inputState" class="form-control ml-3 ">
                        <option selected>Выбирайте...</option>
                        <option>PvP</option>
                        <option>PvE</option>
                        <option>Экономика</option>
                        <option>PvE и PvP</option>
                        <option>Любое</option>
                    </select>
                    </div>

                    <label for="starLvl" class="col-sm-2 col-form-label">Уровень звёзд</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="starLvl" value="Новичок">
                    </div>

                    <label for="Lvl" class="col-sm-2 col-form-label">Уровень пользователя</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="Lvl" value="5">
                    </div>
                    <label for="expLvl" class="col-sm-2 col-form-label">Опыта получено</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="expLvl" value="500/1500">
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>

                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Показывать только мой Никнейм (в Наставниках)</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                    <label class="form-check-label" for="exampleCheck2">Индексировать мою страницу для поисковых систем</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" checked class="form-check-input" id="exampleCheck3">
                    <label class="form-check-label" for="exampleCheck3">Отключить аккаунт Наставника и снять все записи!</label>
                </div>
                <label for="inputSex" class="ml-3 mt-3">Кого показывать на фото</label>
                <select id="inputSex" class="form-control ml-3  w-75">
                    <option selected>Показывать на фото...</option>
                    <option>Показывать основное фото профиля</option>
                    <option>Показывать стандартное изображение (парень)</option>
                    <option>Показывать стандартное изображение (девушка)</option>

                </select>



            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Ваше описание для карточек в поиске</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Ваши сильные стороны/программа</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Контактные данные для игр</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Ваши контактные данные видны только модераторам и ученикам"></textarea>
                    <label for="inputState" class="ml-3">Кнопка на ваш игровой профиль</label>
                    <select id="inputState" class="form-control">
                        <option selected>Отсутсвует</option>
                        <option>Только для учеников</option>
                        <option>Для всех</option>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Вставляйте ссылку на профиль сюда"></textarea>
                    </select>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-4">

                <button class="btn btn-primary mt-3">Сохранить</button>
                <a href="#" class="btn btn-primary">
                   <!-- Премиум наставник сможет влиять на данные аккаунта. Менять кейвордс, дискриптион, тайтл своего профиля наставника и возможно заменять URL (адрес профиля) на никнейм. Например: gtl.com/coach/happyzerg вместо gtl.com/coach/Qw1ar-tb56i . Рассмотрю также и другой функционал на твой вкус -->
                    <p>Аккаунт премиум наставника!</p>
                </a>
                <a class="btn btn-success m-2 ml-3 w-75">
                    <p>Настрой расписание!</p>
                </a>

            </div>
        </div>
        <div class="w-100 row"></div>
        <div class=" col-sm-12 col-md-6 col-lg-4">
            <div class="">
                <h2>Достижения: <span class="points">10</span> очков</h2>
                <div class="w-100 bg-danger">
                    <p>Первый пользователь</p>
                    <h3>10 очков</h3>
                </div>
                {{achiveLast}}
                {{achiveLast}}
                {{achiveLast}}
            </div>
        </div>
        <div class="chat-with-coach">
            <button data-toggle="collapse" data-target="#demo" class="btn btn-primary">У вас сообщение!</button>
            <div id="demo" class="collapse bg-primary">
                <h1 class="text-center">Чат</h1>
                <div class="coach-m">
                    <p>Привет! До урока 10 минут!</p>
                </div>
                <div class="to-coach-m">
                    <p>Ок! Вот мой ник! VasyaPro</p>
                </div>
            </div>
        </div>


    </main>

{% endblock %}
