{% extends "coach/base.html" %}

{% block bodyclass %}
<body class="">
{% endblock %}

{% block content %}

    <main class="bg-dark text-dark">
        <div class="row">
            <div class="col-sm12 col-md-3 col-lg-7 offset-lg-4">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#all">Общая информация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">Информация для учеников</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2">Информация для наставников</a>
                    </li>
                </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content col-sm-12 col-md-12 col-lg-12" style="word-wrap:break-word; word-spacing: normal; line-height: 1;">
                <div class="tab-pane container active" id="all">
                    <h1>Описание работы платформы. Основные вещи</h1>
                    <p> Платформа {{trademark}} работает с целью повышения уровня игры у её пользователей независимо от их роли в проекте.
                    В этом описании мы опишем основные принципы работы платформы.</p>
                    <p>На платформе есть два основных типа пользователей. Это «ученик» и «наставник». Роль каждого будет описана подробней, но тут мы поясним основные узлы работы нашей системы! Важно отметить, что {{trademark}} не оказывает образовательных услуг, а лишь предоставляет систему для использования Наставниками при соблюдении основных её правил и 20 процентной комиссии на каждую оплату.</p>
                    <p>{{trademark}} создана как социальная сеть для обучения геймингу и для полноценной работы требует от вас общения и регистрации на сайте. Мы подразумеваем, что играете вы именно в компьютерные игры, требующие от вас умения противостоять игрокам более высокого уровня, а именно игры с ладдерами и рейтингами. {{trademark}} никак не модерирует Наставников, модерация происходит через учеников платформы путём естественного отбора! Это не ограничивает вас от становления Наставником,  но влечёт ответственность за каждое ваше действие! Для старта в роли Наставника нужно принять <a href="platform-standards.html">основные правила {{trademark}}</a>.</p>
                    <p>Ученикам же предоставляется весь функционал платформы по поиску наставников и их фильтрации по критериям нашего сервиса. Ученик может выбрать уровень наставника по нашей градации, игру и даже его основное направление. Это делает подбор более чётким и вы не попадёте на крутого победителя монстров вместо гладиатора 5 сезонов (образно). {{trademark}} лишь проводит запись и транзакцию.</p>
                </div>
                <div class="tab-pane container fade" id="menu1">

                </div>
                <div class="tab-pane container fade" id="menu2">

                </div>
            </div>
        </div>
    </main>

{% endblock %}