{% extends "coach/account/base.html" %}

{% block bodyclass %}
<body class="">
{% endblock %}

{% block content %}

    <main class="bg-dark text-white">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h1>Правила и стандарты Наставника {{trademark}}!</h1>
                <p class="m-3">Ниже будет приведён перечень обязательных правил.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-12">
                <div class="card bg-dark text-white">
                    <p class="m-3"> На время alpha, beta, public тестов данные инструкции будут в разработке! Мы хотим создать инструкции для Наставников для стандартизации их работы, но не хотим делать чего-то невозможного для вас! Мы будем рады проработать грядущие примеры документа с вами!</p>
                </div>

            </div>
        </div>
    </main>
    
{% endblock %}