{% extends "coach/account/base.html" %}
{% block content %}
    <main class="bg-gold">
        <div class="row text-center">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <h1>Партнёрская программа</h1>
                <p> Мы в поиске интересных людей, с которыми мы сможем развивать этот проект сообща!</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="card bg-dark text-white">
                    <h5 class="card-header">
                        Заполните форму на партнёрку!
                    </h5>
                    <div class="card-body">
                        <p class="card-text">Так вы сможете сотрудничать с {{trademark}}</p>
                    </div>
                    <div class="card-footer">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2>Мы рады всем, но больше всего!</h2>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h3>Блогерам!</h3>
                <p>Мы молодой игровой сервис для геймеров! Готовы написать о нас? Тогда вперёд!</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h3>Стримерам!</h3>
                <p>Вы играете в игре и готовы посмотреть на наш игровой сервис и помочь ему?</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h3>Опытным геймерам!</h3>
                <p>Ваш взгляд и помощь будут действительно неоценимы!</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h3> Мы также рады любым другим организациям, желающим нам помочь!</h3>
            </div>
        </div>
    </main>
    
{% endblock %}
