{% extends "coach/base.html" %}
{% load static %}
{% block content %}

    <main class="bg-gold">
        <div class="row">
           <div class="scroll w-100">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <h1>Сообщения</h1>
            </div>

            <div class="container">
                <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:90px">
                <h2>Я</h2>
                <p>Привет! Спасибо за урок!</p>
                <span class="time-right">11:00</span>
            </div>

            <div class="container darker">
                <img src="img/test-coach-img.jpg" alt="Avatar" class="right" style="width:90px">
                <h2>Кристина "MinusDva" Антонова</h2>
                <p>НЗ, обращайся!</p>
                <span class="time-left">11:01</span>
            </div>

            <div class="container">
                <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:90px">
                <h2>Я</h2>
                <p>А мы можем поиграть вместе?</p>
                <span class="time-right">11:02</span>
            </div>

            <div class="container darker">
                <img src="img/test-coach-img.jpg" alt="Avatar" class="right" style="width:90px">
                <h2>Кристина "MinusDva" Антонова</h2>
                <p>Посмотрим, если у меня время будет!</p>
                <span class="time-left">11:05</span>
            </div>
              <div class="container darker">
                <img src="img/test-coach-img.jpg" alt="Avatar" class="right" style="width:90px">
                <h2>Кристина "MinusDva" Антонова</h2>
                <p>И вообще тренируйся больше и возможно попадёшь в набор команд!</p>
                <span class="time-left">11:05</span>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="form-group m-lg-3 m-sm-3">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" cols="10"></textarea>
                    <button type="submit">Отправить</button>
                </div>
            </div>
        </div>
    </main

{% endblock %}