{% extends "superuser/base.html" %}
{% load static %}

{% block content %}
    <main class="bg-gold">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <h1 class="text-center">Назначение Наставников</h1>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h2>Меню профиля</h2>
                <a href="/superuser/" class="nav-link">Админ</a>
                <a href="../../admin/" class="nav-link">Админка</a>
                <a href="wants_to_coach.html" class="nav-link active btn-success">Назначение</a>
                <a href="list_of_coaches.html/1" class="nav-link">Наставники</a>
                <a href="settings.html" class="nav-link">Настройки</a>
                <a href="../../account/profile.html/user_id{{ user.id }}" class="nav-link">Профиль</a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                {% if not wannabes %}
                    <p>Нет кандидатов в Наставники</p>
                {% else %}
                    <form method="post" action="wants_to_coach">
                    {% csrf_token %}
                    {% for candidate in wannabes %}
                        <p>Кандидат: {{ candidate.username }}</p>
                        <INPUT TYPE="radio" NAME={{ candidate.username }} VALUE="y">Назначить</INPUT>
                        <INPUT TYPE="radio" NAME={{ candidate.username }} VALUE="n">Не назначить</INPUT>
                        <INPUT TYPE="radio" NAME={{ candidate.username }} VALUE="k">Не выбрано</INPUT>
                    {% empty %}
                        <p>Нет кандидатов в Наставники</p>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </main>

{% endblock %}